<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app">
    <p v-if="show">you can see me</p>
    <p v-else>now you can see me</p>
    <button @click="show=!show">Switch</button>


</div>
</body>
<script type="text/javascript">
   new Vue({
        el:'#app',
       data:{
            show:true,
       }
   });
</script>
</html>
