<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="vue.js"></script>
</head>
<body>
	<div id="app">
		<button v-on:click="increaseCount(2)">Squeeze Me</button>
		<p >
			{{ counter }}
		</p>

		<p v-on:mousemove="updateCoordinates"> {{ x }} / {{ y }}</p>
		
	</div>
</body>
<script type="text/javascript">
	new Vue({
		el:'#app',
		data:{
			counter:0,
			x:0,
			y:0,
			
		},
		methods:{
		
			increaseCount:function(step){
				this.counter+= step;
			},

			updateCoordinates:function(event){
				this.x=event.clientX;
				this.y=event.clientY;
			},


		}
	});
</script>
</html>