<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app">
    <p v-if="show">you can see me</p>
    <p v-else>now you can see me</p>
    <button @click="show=!show">Switch</button>
    <ul>
        <li v-for="(ingredient,i) in ingredients">
            {{ingredient}} {{i}}
        </li>

    </ul>

    <hr>

    <li v-for="person in persons">
        {{person.name}}
        <div v-for="(value,key) in person">
            {{key}}::{{value}}

        </div>
        <hr>
    </li>

    <span v-for="n in 20">{{n}}<br></span>

    <button @click="ingredients.push('spices')">Add New</button>


</div>
</body>
<script type="text/javascript">
    new Vue({
        el:'#app',
        data:{
            ingredients:['meat','fruit','cookies'],
            show:true,

            persons:[
                {name:'Max',age:27,color:'red'},
                {name:'Anil', age:30,color:'blue'}
            ],
        }
    });
</script>
</html>
