<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" class="enterme" v-on:input="changeTitle">
		<p >
			{{title}}
		</p>
		<p>{{showDescription()}}</p>
		<p><a v-bind:href="link">{{sayHello()}}Go to google </a></p>
		<p v-html="finishedLink"></p>
	</div>
</body>
<script type="text/javascript">
	new Vue({
		el:'#app',
		data:{
			title:'hello anil!',
			description: 'we are displaying description here',
			link:'https://www.google.com/',
			finishedLink:'<a href="http://twitter.com">Twitter Account</a>',
		},
		methods:{
		
			showDescription:function(){
				 return this.description;
			},

			sayHello:function(){
				this.title='hello';
				return this.title;
			},
				changeTitle: function(event){
				this.title=event.target.value;
			},
		}
	});
</script>
</html>